@model IEnumerable<BookClub.Models.Book>

@{
    ViewBag.Title = "Books";
}

@if (User.IsInRole("Administrator"))
{
    <br />
    <p>
      @Html.ActionLink("Create New", "Create")
    </p>
}
else
{
    <br />
}
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Image")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayName("Year released")
            </th>
            <th>
                @Html.DisplayName("Rating")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <img src="@item.ImageUrl" style="max-height: 300px; max-width: 250px" />
            </td>
            <td>
                @Html.ActionLink(item.Title, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <div class="row">
                    <i class="glyphicon glyphicon-star"></i>
                    @Html.DisplayFor(modelItem => item.AverageRating)
                    @Html.DisplayName(" / 5")
                </div>
                <div class="row">
                    @Html.DisplayFor(modelItem => item.Votes)
                    @Html.DisplayName("votes")
                </div>
            </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        <br />
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }

                    @if(User.IsInRole("User"))
                    {
                        <div class="row">
                            <div class="col-sm-12">
                                <input data-book-title="@item.Title" data-book-id="@item.Id" type="number" class="rating" min=0 max=5 step=1 data-glyphicon="false" data-size="xs">
                            </div>
                        </div>
                    }

                    @if (!User.IsInRole("Administrator") && !User.IsInRole("User"))
                    {
                        <a class="btn btn-success" href="/Account/Login">Vote</a>
                    }
                </td>
        </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () { 
            $("#myTable").DataTable();
            $(document).on('rating:change', 'input', function (event, value, caption) {
                var input = $(this);
                bootbox.confirm("Do you want to vote with " + value + " Stars for the book " + input.attr('data-book-title') + " ?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/BooksApi/RateBook/" + input.attr('data-book-id')+"?value="+value,
                            type: "POST",
                            success: function () {
                                bootbox.dialog({
                                    message: '<p class="text-center">You have voted successfully !</p>',
                                    closeButton: true
                                });
                            }
                        });
                    }
                });
            });
        });
    </script>
}